<div class="main">

  <div class='title-contents'>
    <h2 class='service-title'>
      ワンちゃんと最高の一時を！
    </h2>
    <p class='service-explain'>
      WanLifeはあなたとワンちゃんで楽しく遊べる場所がすぐ見つかります
    </p>
    <p class='service-explain'>
      ワンちゃんと楽しいOneDayを！
    </p>
  </div>